venv/
data/partial
.DS_Store
data/.DS_Store
data/data_all_gpd_v3.cpg
data/data_all_gpd_v3.dbf
data/data_all_gpd_v3.prj
data/data_all_gpd_v3.shp
data/data_all_gpd_v3.shx
data/data_all_gpd_v4.shx
data/data_all_gpd_v4.shp
data/data_all_gpd_v4.prj
data/data_all_gpd_v4.dbf
data/data_all_gpd_v4.cpg
